<header>
  <h1>Testing: Input events</h1>
  {{!-- <nav>
    <ul>
      <li><LinkTo @route="input-arguments">"Special actions passed into Input"</LinkTo></li> 
      <li><LinkTo @route="native-events">"Using native events with the on helper"</LinkTo></li>
      <li><LinkTo @route="other-debugging">"Big list of generic testing"</LinkTo></li> 
    </ul>
  </nav> --}}
</header>
<main>
  <p class="intro">To test, open your browser console and try to make each input fire the event. A red border is used to indicate items that do not work, even though the Ember documentation indicates that it should. The goal is to identify if there are bugs that we need to work out, and where the guides need to be updated to more accurately reflect how things work.</p>
  {{outlet}}
</main>
<footer>
  <p>Resources used:</p>
  <ul>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input">MDN</a></li>
    <li><a href="https://guides.emberjs.com/release/components/built-in-components/#toc_input">Ember Guides</a></li>
    <li><a href="https://api.emberjs.com/ember/release/classes/Ember.Templates.components/methods/Input?anchor=Input">API docs</a></li>
  </ul>
</footer>